html {
    height: 100%;
    width: 100%;
  }
  
  body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  form {
    display: block;
    border: gray solid .5px;
    padding: 10px;
    margin: 100px;
    width: 100%;
    border-radius: 5px;
  }
  
  input[type=text], [type=password]{
    width: 100%;
    padding: 12px 20px;
  }
  
  input[type=button]{
    margin : 10px;
  }
  
  a {
    text-decoration: none;
    color: rgb(0,0,255);
  }

  label {
    text-align: right;
  }
 