html {
    height: 100%;
    width: 100%;
  }
  
  body{
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  
  form {
    border: gray solid .5px;
    padding: 20px;
    margin: 50px 100px;
    width: 50%;
    position: center;
  }
  
  input{
    width: 50%;
  }
  
  input[type=button]{
    margin : 10px;
  }
  
  a {
    text-decoration: none;
    color: rgb(0,0,255);
  }